<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic" rel="stylesheet">
</head>
<body>
<p style="color: red"><%= content %></p>
<p>layoutknk</p>
</body>

